<!-- src/test/resources/logback-test.xml -->
<configuration>
  <!-- Basic configuration for tests, e.g., only log errors to console -->
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="com.savdev.rest" level="DEBUG"/>

  <root level="info">
    <appender-ref ref="STDOUT"/>
  </root>
</configuration>